:root {
  --sidebarInlineSize: 15rem; /* 240px */
  --minBlockSize: 37.5rem; /* 600px */
  --minInlineSize: 48rem; /* 768px */
  --bottomSize: 5.5rem; /* 88px */
}

.layout {
  min-inline-size: var(--minInlineSize);
}

.layuout-sidebar {
  block-size: calc(100vh - var(--bottomSize));
  min-block-size: var(--minBlockSize);
  inline-size: var(--sidebarInlineSize);
  overflow: auto;
  flex-shrink: 0;
  background: var(--gray60);
}

.layout-main {
  block-size: calc(100vh - var(--bottomSize)); /* 100% del alto del aria visible  - footer*/
  min-block-size: var(--minBlockSize);
  overflow: auto;
}

.layout-bottom {
  flex: 1;
  block-size: var(--bottomSize);
}

.layout-block {
  display: flex;
}