.slider {
  /* inline-size: 200px; */
  background: rgba(255, 255, 255, .2);
  block-size: .25rem;
  border-radius: .5rem;
}

.slider:hover .slider-progress{
  background: var(--primaryColor);
}

.slider:hover .slider-button{
  display: block;
}

.slider-progress {
  block-size: inherit; /* hereda el atributo del contenedor padre */
  border-radius: inherit;
  background: var(--white);
  inline-size: 20%;
  position: relative;
}

.slider-button {
  background: var(--white);
  padding: 0;
  border: 0;

  block-size: 200%; /* Con relacion al contenedor padre */
  aspect-ratio: 1/1; /* Que sea cuadrado */ /* Inline-size:.5rem */
  border-radius: 50%;

  position: absolute;
  left: 100%; /* Donde acaba el padre */
  top: 50%;
  transform: translate(-50%,-50%); /* Referencia al mismo elemento */
  display: none;

}